.events-control {
  text-align: center;
  border: 1px solid #5101d1;
  padding: 1rem;
  margin: 2rem auto;
  width: 30rem;
  max-width: 80%;
}

.btn {
  background: #5101d1;
  color: #fff;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  outline: none;
}

.btn:hover,
.btn:active {
  background: #fff;
  color: #5101d1;
}
